<!-- Modal -->
<div class="modal fade" id="bookme" tabindex="-1" aria-labelledby="bookmeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="bookmeLabel">Book a call with me</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" Onclick="window.open('https://calendly.com/ramez-hanna/')">Book a call</button>
          </div>
          <div><h5>P.S.</h5> In case you don't find a suitable time for you for reasons such as timezones and busy lives, feel free to message me on <a href="https://www.linkedin.com/in/ramezhanna/">LinkedIn</a> or email me on rhanna@informatiq.org</div>
        </div>
      </div>
    </div>
  </div>
  